In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

#### Loading data

In [3]:
data= pd.read_csv("multiple_linear_regression.csv")

In [4]:
data.head()

   Feature 1  Feature 2  Feature 3  Target
0      230.1       37.8       69.2    22.1
1       44.5       39.3       45.1    10.4
2       17.2       45.9       69.3     9.3
3      151.5       41.3       58.5    18.5
4      180.8       10.8       58.4    12.9

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Feature 1  200 non-null    float64
 1   Feature 2  200 non-null    float64
 2   Feature 3  200 non-null    float64
 3   Target     200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

#### Data Preprocessing

In [9]:
data= data.dropna()

In [10]:
data.shape

(200, 4)

#### Splitting Data

In [12]:
output_col = "Target"

In [22]:
#input data - all rows and columns except the target column
x = data.iloc[ : ,data.columns != output_col]

In [23]:
x.head()

   Feature 1  Feature 2  Feature 3
0      230.1       37.8       69.2
1       44.5       39.3       45.1
2       17.2       45.9       69.3
3      151.5       41.3       58.5
4      180.8       10.8       58.4

In [24]:
#output data - all rows from the target column
y = data.loc[ : , output_col]

In [25]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: Target, dtype: float64

##### sklearn.model_selection --> train_test_split returns  --> x_train, x_test, y_train,y-test values in this very order

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size =0.30 , random_state = 43)

In [29]:
data.shape

(200, 4)

In [31]:
x_train.shape

(140, 3)

In [33]:
x_test.shape

(60, 3)

In [34]:
y_train.shape

(140,)

In [35]:
y_test.shape

(60,)

#### Linear Regression