In [2]:
import pandas as pd
import numpy as np

df= pd.read_csv("Data.csv")
df1= pd.read_csv("Data.csv")

In [5]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\ghosh\anaconda_edx\lib\site-packages (1.2.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ghosh\anaconda_edx\lib\site-packages (from scikit-learn) (1.23.5)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ghosh\anaconda_edx\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ghosh\anaconda_edx\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\ghosh\anaconda_edx\lib\site-packages (from scikit-learn) (1.10.0)

#### Univariate imputer for completing missing values with simple strategies.

In [9]:
from sklearn.impute import SimpleImputer

### Removing the Rows

In [3]:
df.dropna()

   Country   Age   Salary Purchased
0   France  44.0  72000.0       Yes
1    Spain  27.0  48000.0       Yes
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### Filling the values

In [12]:
## using imputer to fill up the null values using mean or average
imputer = SimpleImputer(missing_values = np.nan , strategy = 'mean')

In [14]:
np.array(df1['Salary']) #for understanding, could not use in imputer

array([72000., 48000., 54000., 61000.,    nan, 58000., 52000., 79000.,
       83000., 67000.])

In [17]:
#perform slicing to get only the 1st 3 columns and all rows
df1.iloc[:,1:3].values

array([[4.4e+01, 7.2e+04],
       [2.7e+01, 4.8e+04],
       [3.0e+01, 5.4e+04],
       [3.8e+01, 6.1e+04],
       [4.0e+01,     nan],
       [3.5e+01, 5.8e+04],
       [    nan, 5.2e+04],
       [4.8e+01, 7.9e+04],
       [5.0e+01, 8.3e+04],
       [3.7e+01, 6.7e+04]])

In [19]:
#pass the sliced values as an imput to the imputer function, the fit will help calculate the mean
imputer.fit(df1.iloc[:,1:3].values)

SimpleImputer()

In [28]:
#transform after processing in the imputer function to write the values after calculation
x = imputer.transform(df1.iloc[:,1:3].values)

In [21]:
x

array([[4.40000000e+01, 7.20000000e+04],
       [2.70000000e+01, 4.80000000e+04],
       [3.00000000e+01, 5.40000000e+04],
       [3.80000000e+01, 6.10000000e+04],
       [4.00000000e+01, 6.37777778e+04],
       [3.50000000e+01, 5.80000000e+04],
       [3.87777778e+01, 5.20000000e+04],
       [4.80000000e+01, 7.90000000e+04],
       [5.00000000e+01, 8.30000000e+04],
       [3.70000000e+01, 6.70000000e+04]])

In [30]:
#pasting it back to the original location
df1.iloc[:,1:3] = x

In [31]:
df1

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000       Yes
1    Spain  27.000000  48000.000000       Yes
2      NaN  30.000000  54000.000000       NaN
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes