In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ghosh\anaconda_edx\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghosh\anaconda_edx\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ghosh\anaconda_edx\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ghosh\anaconda_edx\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\ghosh\anaconda_edx\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [14]:
import pandas as pd

In [15]:
import numpy as np

In [4]:
list=[1,2,3,4,5]

In [16]:
#numpy.array(list)
np.array(list)

array([1, 2, 3, 4, 5])

In [17]:
#pandas.Series([list , list , list])
pd.Series([list , list , list])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [18]:
[list, list,list]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [20]:
#pandas.DataFrame([list,list,list],columns=['A','B','C','D','E'])
df= pd.DataFrame([list,list,list],columns=['A','B','C','D','E'])

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df

   A  B  C  D  E
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5

In [23]:
#delete dataframe - error as it cannot display after deletion
del df
df

NameError: name 'df' is not defined