In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ghosh\anaconda_edx\lib\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\ghosh\anaconda_edx\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ghosh\anaconda_edx\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\ghosh\anaconda_edx\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\ghosh\anaconda_edx\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas

In [3]:
import numpy

In [4]:
list=[1,2,3,4,5]

In [5]:
numpy.array(list)

array([1, 2, 3, 4, 5])

In [8]:
pandas.Series([list , list , list])

0    [1, 2, 3, 4, 5]
1    [1, 2, 3, 4, 5]
2    [1, 2, 3, 4, 5]
dtype: object

In [9]:
[list, list,list]

[[1, 2, 3, 4, 5], [1, 2, 3, 4, 5], [1, 2, 3, 4, 5]]

In [10]:
pandas.DataFrame([list,list,list])

   0  1  2  3  4
0  1  2  3  4  5
1  1  2  3  4  5
2  1  2  3  4  5